
*.cmx
*.cmxa
*.cma
*.cmo
*.cmi
*.exe
*.bc
*.annot
*.o
*.so
*.so.d
*.s
*.a
*.depend
_*
*.sp?t
config.status
mycaml
.DS_Store
tmtags

.git
.transdeps
/chroot_test_tmp

/lib/packs
/lib/**/deps
/lib/**.mli
/test-results*

personal_compilation_ignores
*.cp4c
*~
*.auto.mli
*.aux
*.digest
*.fls
*.haux
*.htoc
*.log
*.omc
*.orig
*.rej
*.spot
*.toc
*.cmp
.*.sw[pabcdef]
.mydeps
inline_tests.ml
inline_tests_runner.ml
TAGS
order_file_*_common.ml
*_db_pnl_common.ml
order_file_*_eval.ml
_build

# for new omake rules
*.deps
*.ml.d
*.mli.d
*.libdeps
*.objdeps
*.hg_version.c
*.build_info.c
hg_version.out
stub.names

# specific files
.last_build_env
.omakedb
.omakedb.lock
spec.hg
libdeps.sexp
libdeps.dot
libdeps.ps
libdeps.corrected
ocaml_path
.ocaml-3.10
bisect{.itarget,.mlpack,.odocl,_pp.mlpack}
bisect-1.1/Makefile.config
\#*
.\#*
/_build
/core.docdir
/lib/config.h
/lib/config.mlh
/lib/version.mlh
/lib/version_defaults.mlh
/lib/version_defaults.mlh
/lib_test/command-tests/actual-output
/setup.data
/setup.log
/test_runner.native
